<div class="container-fluid">
  <header>
    <nav class="navbar navbar-expand-md bg-info">
      <a routerLink="" class="nav-link text-white">home</a>
      <a routerLink="calculadora" class="nav-link text-white">Calculadora</a>
      <a routerLink="positivoNegativo" class="nav-link text-white">Positivo/Negativo</a>
      <a routerLink="imc" class="nav-link text-white">IMC</a>
      <a routerLink="" class="nav-link text-white">Cadastro Pessoa</a>
    </nav>
  </header>
</div>
<router-outlet></router-outlet>
