<div class="container-fluid">
  <header>
    <nav class="navbar navbar-expand-md bg-info">
      <a routerLink="" class="nav-link text-white">home</a>
      <a routerLink="calculadora" class="nav-link text-white">Calculadora</a>
      <a routerLink="positivoNegativo" class="nav-link text-white">Positivo/Negativo</a>
      <a routerLink="imc" class="nav-link text-white">IMC</a>
      <a routerLink="" class="nav-link text-white">Cadastro Pessoa</a>
    </nav>
  </header>


  <form>
      <input type="text" name="nome" [(ngModel)]="estado.nome">
      <input type="text" name="sigla" [(ngModel)]="estado.sigla">
      <br/>
      <button type="button" name="adicionar" (click)="adicionar()">Cadastrar</button>
  </form>


  <br>
  <br>

  <div class="">
    <table>
      <tr *ngFor="let est of listaEstado; let i = index">
        <td>{{ est.nome }}</td>
        <td>{{ est.sigla }}</td>
        <td><button name="button1" (click)="excluir(i)" >Excluir</button></td>
        <td><button name="button2" (click)="alterar(i)" >Alterar</button></td>
      </tr>
    </table>

  </div>
</div>
<router-outlet></router-outlet>
