<div class="container">
    <div class="row m-5">
        <div class="col">
          <h1>Cadastro</h1>
          <form>
              <input type="text" name="nome" value="" [(ngModel)]=nome>
              <input type="text" name="cpf" value="" [(ngModel)]=cpf>
              <input type="number" name="telefone" value="" [(ngModel)]=telefone>
                <input type="text" name="endereco" value="" [(ngModel)]=endereco>
              <br/>
              <br/>
              <button type="button" name="calcular">Calcular IMC</button>
          </form>
        </div>
    </div>
</div>
